body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

button {
    background: green;
    color: white;
    padding: 8px;
    border: none;
    width: 100%;
}
